img{
    width: 80%;
    text-align: center;
}
p{
    margin-left: 3%;
}
body{
    background-color: #967765;   
}
.anao{
    width: 240px;
    height: 240px;
    vertical-align: middle;
    display: table;    
}
.titulo{
    text-align: center;
}
.card{
    display: inline-block;
    width: 300px;
    background-color: rgb(255, 255, 255);
    margin: 30px;
    padding: 10px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.tit{
    margin-left: 3%;
}
.bruto{
    font-size: 15px;
    opacity: 60%;
}
.avista{
    margin-top: -5%;
    font-size: 35px;
}
.compra{
    border: 1px solid black;
    background-color: #FB5A00;
    padding: 8px 38% 8px 38%;
    border-radius: 5px;
}
.flex{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pagam{
    margin-top: -12%;
    opacity: 60%;
}
.compra:hover {
    opacity: 70%;
    transition: .9s;
    color: white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
.stars{
    display: flex;
    margin-left: 3%;
    font-size: 25px;
}